ul {;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
      
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: darksalmon;
  }
  body{background-color: burlywood;}
  h1{text-align: center; color: fuchsia;}
  h2{text-align: center; color: hotpink;}
  .image1{height: 80%; width: 80%;}
  h3{text-align: center;color: hotpink;}
  h4{text-align: center;color: rgb(233, 122, 203);}
  p{color: darkviolet;}